<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/icon.svg">
    <title>{{{title}}}</title>
</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-5" href="#">Minhas Despesas</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-nav btn-sign-out">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3 d-block" onclick="logout()" href="#">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar-login collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <a class="nav-link" href="/cadastrar-despesas">
                                <span data-feather="file"></span>
                                Cadastrar Despesas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/consultar-despesas">
                                <span data-feather="shopping-cart"></span>
                                Consultar Despesas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/configuracoes-usuario">
                                <span data-feather="users"></span>
                                Configurações do Usuário
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
    <script src="js/user.js"></script>
    <script src="js/expense.js"></script>
</body>

</html>