<section class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Cadastrar Despesas</h1>
    </div>

    <article>
        <form class="form-control p-3" name="registerExpenseForm">

            <input class="form-control mb-3" type="text" name="expenseName" placeholder="Nome">
            <input class="form-control mb-3" type="date" name="dueDate" placeholder="Data de Vencimento">
            <input class="form-control mb-3" type="number" min="1" name="price" placeholder="Preço">

            <button type="button" class="btn btn-secondary d-block mx-auto" name="button" onclick="registerExpense()">
                Cadastrar Despesa
            </button>
        </form>
    </article>

    <article class="modal fade" id="message" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mensagem</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h3 id="response" class="text-center"></h3>
                </div>

            </div>
        </div>
    </article>

</section>
</div>
</div>