<section class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Configurações do Usuário</h1>
    </div>
        
    <article>
        <form class="form-control p-3 mb-5" name="updateEmailForm">
            <h2 class="h3 mb-3 text-center">Atualize Seu Email</h2>
            <div class="input-group">

                <input type="email" name="email" class="form-control" placeholder="Seu Novo E-mail">

                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" onclick="updateEmail()" name="button">
                        Atualizar Email
                    </button>
                </div>

            </div>
        </form>
    </article>

    <article>
        <form class="form-control p-3 mb-5" name="updatePassword">

            <h2 class="h3 mb-3 text-center">Atualize Sua Senha</h2>

            <input class="form-control mb-3" type="password" name="passwordCurrent" type="password" placeholder="Senha Atual">
            <input class="form-control mb-3" type="password" name="passwordNew" placeholder="Nova Senha">
            <input class="form-control mb-3" type="password" name="passwordNewConfirm" placeholder="Confirmação de Nova Senha">

            <button type="button" class="btn btn-secondary d-block mx-auto" onclick="updateUserPassword()" name="button">
                Atualizar Senha
            </button>

        </form>
    </article>

    <article>
        <form name="deleteUser" class="form-control p-3 mb-5">

            <h2 class="h3 mb-3 text-center">Exclua Sua Conta</h2>

            <input class="form-control mb-3" type="password" name="password" type="password" placeholder="Senha">
            <input class="form-control mb-3" type="password" name="passwordConfirm" placeholder="Confirmação de Senha">

            <button type="button" class="btn btn-secondary d-block mx-auto" onclick="destroyUser()" name="button">
                Excluir Conta
            </button>

        </form>
    </article>

    <article class="modal fade" id="message" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mensagem</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h3 id="response" class="text-center"></h3>
                </div>

            </div>
        </div>
    </article>

</section>
</div>
</div>