<section class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Minhas Despesas</h1>
    </div>

    <article>
        <div class="table-responsive">
            <table class="table table-striped table-sm text-center">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data de Vencimento</th>
                        <th>Preço</th>
                        <th>Atualizar</th>
                        <th>Pagar</th>
                    </tr>
                </thead>
                <tbody id="expenses" style="font-weight: bold;"></tbody>
            </table>

            <div class="w-100 d-flex justify-content-center" id="loading">
                <img src="img/loading.gif">
            </div>

            <button class="d-block w-100 btn btn-success fw-bold" onclick="getExpenses()">Todas as despesas</button>
        </div>
    </article>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Informações Sobre as Despesas</h1>
    </div>

    <article class="mb-3 ">
        <div class="card text-dark bg-light mx-auto mb-3" style="max-width: 40rem;">

            <div class="card-header text-center">
                <h5>Total de Despesas</h5>
            </div>

            <div class="card-body">

                <h5 class="card-title text-center" id="totalExpenses">
                    <img src="img/loading.gif" alt="" class="loading-pay-and-total">
                </h5>

            </div>
        </div>

        <div class="card text-dark bg-light mx-auto mb-5" style="max-width: 40rem;">

            <div class="card-header text-center">
                <h5>Valor Total</h5>
            </div>

            <div class="card-body">

                <h5 class="card-title text-center" id="totalPay">
                    <img src="img/loading.gif" alt="Ícone de Carregamento" class="loading-pay-and-total">
                </h5>

            </div>

        </div>
    </article>

    <article class="modal fade" id="updateExpense" tabindex="-1" aria-labelledby="updateExpense" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="updateExpense">Atualizar Despesa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form class="form-control p-3">

                        <div id="container"></div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary d-block mx-auto" data-bs-dismiss="modal"
                                onclick="updateExpense()">
                                Atualizar
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </article>

    <article class="modal fade" id="message" tabindex="-1" aria-labelledby="message" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="message">Mensagem</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form class="form-control p-3">
                        <h3 id="response" class="text-center"><h3>
                    </form>
                </div>

            </div>
        </div>
    </article>

</section>
</div>
</div>