<section>

    <article class="container-fluid">
        <div class="row align-items-md-center" style="height: 60vh;">
            <div class="col-sm-8 mx-auto mt-5">
                <form name="loginUserForm" class="form-control p-3">

                    <h3 class="text-center mb-3">Login</h3>

                    <input type="email" class="form-control mb-3" placeholder="Email" name="email">
                    <input type="password" class="form-control mb-3" placeholder="Senha" name="password">

                    <button type="button" class="btn btn-secondary d-block mx-auto mb-3" onclick="loginUser()" name="button">
                        Entrar
                    </button>

                    <a href="/cadastrar" class="text-center text-secondary d-block mb-3 fw-bold">
                        Ainda não tem um cadastro?
                    </a>

                    <a href="/esqueci-senha" class="text-center text-secondary d-block fw-bold">
                        Esqueceu sua senha?
                    </a>
                </form>
            </div>
        </div>
    </article>

    <article class="modal fade" id="message" tabindex="-1" aria-labelledby="message" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="message">Mensagem</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h3 id="response" class="text-center"></h3>
                </div>

            </div>
        </div>
    </article>

</section>