<main class="mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto mt-5">

                <h3 class="display-1 fw-bold text-white text-center">Verificando Email</h3>

            </div>
        </div>
    </div>
</main>