@import url("index.css");
@import url("bootstrap.css");
@import url("loading.css");

body {
  font-size: 0.875rem;
}

#background-body {
  height: 100vh;
  background: linear-gradient(to bottom right,#777, #666, #555, #444, #333);
}